@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,300;0,600;1,100;1,200;1,300&family=Roboto+Condensed:ital,wght@0,300;1,300&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css");

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-decoration: none;
}

:root {
  --font-primary: "Josefin Sans", serif;
  --font-secundary: " Roboto Condensed";
}
html {
  scroll-behavior: smooth;
  display: inline-block;
  overflow-x: hidden;
}

.hamburguer {
  width: 2rem;
  height: 2rem;
  position: fixed;
  z-index: 200;
  right: 2rem;
  top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}
.show-menu .hamburguer {
  right: 16rem;
}

.line {
  width: 100%;
  height: 0.1rem;
  background-color: white;
  box-shadow: 0.1rem 0.1rem 1px black;
  transition: transform 1s;
}
.show-menu #line1 {
  transform: rotate(180deg);
}
.show-menu #line2 {
  transform: rotate(180deg);
}
.show-menu #line3 {
  transform: rotate(180deg);
}

.hamburguer span {
  position: absolute;
  left: 3rem;
  height: 2rem;
  width: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000428;
  color: aliceblue;
  font-family: var(--font-primary);
  opacity: 0;
}
.hamburguer span::before {
  content: "";
  position: absolute;
  border-right: 0.5rem solid #000428;
  border-top: 0.5rem solid transparent;
  border-left: 0.5rem solid transparent;
  border-bottom: 0.5rem solid transparent;
  left: -1rem;
}
.show-menu .hamburguer:hover span {
  opacity: 1;
}

header {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.img-wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
  background-color: rgba(0, 0, 0, 0.9);
  animation: zoom 25s;
}

@keyframes zoom {
  0% {
    transform: scale(1.3);
  }
  100% {
    transform: scale(1);
  }
}

.banner {
  position: absolute;
  top: 20%;
  left: 10%;
}
.banner h1 {
  color: #070c3d;
  font-size: 3.5rem;
  font-family: var(--font-primary);
  font-weight: 600;
  text-shadow: 0.3rem 0.4rem 2px rgba(216, 217, 245, 1);
  line-height: 3rem;
  margin-bottom: 2rem;
  opacity: 0;
  animation: moveBanner 1s 0.5s forwards;
}
.banner p {
  font-family: var(--font-secundary);
  color: #070c3d;
  font-size: 2rem;
  text-shadow: 0.2rem 0.2rem rgba(216, 217, 245, 1);
  font-weight: 300;
  margin-bottom: 2rem;
  opacity: 0;

  animation: moveBanner 1s 0.7s forwards;
}
.banner button {
  font-family: var(--font-primary);
  color: rgb(226, 225, 233);
  background: #070c3d;
  background-image: linear-gradient(to bottom, #2952ba 0%, #330867 100%);
  opacity: 0;

  padding: 1rem 3rem;
  border: none;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  border-radius: 5px;
  cursor: pointer;
  animation: moveBanner 1s 0.9s forwards;
}

.banner button:hover {
  opacity: 0.9;
  font-size: 1.09rem;
}
@keyframes moveBanner {
  0% {
    transform: translateY(10rem) rotateY(-30deg);
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.sidebar {
  width: 20rem;
  height: 100vh;
  background-color: white;
  position: fixed;
  top: 0;
  right: -20rem;
  transition: all 1s;
  z-index: 150;
}

.show-menu .sidebar {
  right: 0;
  background-color: #f5f3ef;
}

.menu {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.menu-item {
  text-align: center;
  margin-bottom: 0.5rem;
}
.menu-link {
  font-family: var(--font-secundary);
  font-size: 2rem;
  color: #070c3d;
  transition: color 0.5s;
}
.menu-link:hover {
  color: rgb(145, 145, 242);
}
.social-media {
  position: absolute;
  bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.social-media i {
  color: #004e92;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  transition: font-size;
}
.social-media i:hover {
  font-size: 3rem;
}
.conhecimentos {
  padding: 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(6, 6rem);
  row-gap: 0.5rem;
}
.conhecimento:nth-child(1) {
  grid-column: 3 / 9;
  grid-row: 1 / 3;
}

.conhecimento:nth-child(2) {
  grid-column: 2 / 7;
  grid-row: 3 / 5;
}

.conhecimento:nth-child(3) {
  grid-column: 3 / 9;
  grid-row: 5 / -1;
}

.conhecimento:nth-child(4) {
  grid-column: 11 / 16;
  grid-row: 1 / 3;
}

.conhecimento:nth-child(5) {
  grid-column: 12 / 17;
  grid-row: 3 / 5;
}

.conhecimento:nth-child(6) {
  grid-column: 11 / 16;
  grid-row: 5 / -1;
}

.sessao-conhecimentos {
  background-color: #f8f4e9;
  height: 100%;
}

.sessao-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #534340;
  border-bottom: solid 3px #a89fa0;
  margin-bottom: 1.5rem;
}
.conhecimento-header {
  display: flex;
  align-items: center;
  color: #534340;
}
.conhecimento-header i {
  font-size: 2.5rem;
}
.conhecimento-header h3 {
  font-family: var(--font-primary);
  font-size: 2rem;
  padding-left: 1rem;
}
.conhecimento-text {
  font-family: var(--font-secundary);
  margin-top: 1rem;
}
.conhecimento-img-wrapper {
  grid-column: 8 / 11;
  grid-row: 2 / 7;
  width: 100%;
}
.conhecimento-img-wrapper img {
  object-fit: cover;
  width: 100%;
}
.sessao-projetos {
  background-color: #d1c4c0;
}
.projetos {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.card {
  width: 18rem;
  height: 25rem;
  position: relative;
}

.card-img-wrapper {
  width: 100%;
  height: 100%;
  background-color: #262626;
  border-radius: 0.5rem;
}

.card-img-wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  opacity: 0.8;
  transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
  opacity: 0.5;
}

.card-info {
  position: absolute;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  padding: 2rem;
  text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
  transition: all 0.3s;
}

.card-info h2 {
  font-family: var(--font-primary);
  font-size: 2rem;
  font-weight: 500;
  color: #eee;
}

.card-info h3 {
  font-family: var(--font-primary);
  font-weight: bolder;
  color: #ff4081;
  margin-bottom: 1.5rem;
}

.card-info p {
  font-family: var(--font-secundary);
  color: #eee;
  font-weight: 400;
  width: 80%;
  margin-bottom: 2rem;
}

.btn {
  background: #6a3093;
  background: -webkit-linear-gradient(to right, #a044ff, #6a3093);
  background: linear-gradient(to left, #a044ff, #6a3093);
  font-family: var(--font-primary);
  font-size: 0.9rem;
  color: #eee;
  border-radius: 0.5rem;
  border: none;
  box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  cursor: pointer;
}
.btn:hover {
  opacity: 0.9;
  font-size: 1rem;
}
.card-info button {
  width: 8rem;
  height: 2.5rem;
}

.card:hover .card-info {
  bottom: 2rem;
  opacity: 1;
  visibility: visible;
}

.lucaS {
  padding: 1rem;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(12, 5rem);
  row-gap: 0.5rem;
}
.luca:nth-child(1) /*contato*/ {
  grid-column: 2 / 10;
  grid-row: 6 / 8;
}

.luca:nth-child(2)/*habilidade*/ {
  grid-column: 12 / 20;
  grid-row: 10 / 12;
}

.luca:nth-child(3)/*perfil pessoal*/ {
  grid-column: 2 / 10;
  grid-row: 8 /11;
}

.luca:nth-child(4) /*experiencia*/ {
  grid-column: 12 / 20;
  grid-row: 1 / 3;
}

.luca:nth-child(5)/*historico*/ {
  grid-column: 12/ 20;
  grid-row: 4 / 6;
}

.luca:nth-child(6)/*educaçao*/ {
  grid-column: 12 / 20;
  grid-row: 7 / 9;
}
.luca-img-wrapper {
  grid-column: 2 / 7;
  grid-row: 1 / 5;
  width: 100%;
}
.sessao-luca {
  background-color: #f8f4e9;
  height: 100%;
}

.sessao-header {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sessao-header h1 {
  font-family: var(--font-primary);
  font-size: 3rem;
  color: #534340;
  border-bottom: solid 3px #a89fa0;
  margin-bottom: 1.5rem;
}
.luca-header {
  display: flex;
  align-items: center;
  color: #534340;
}
.luca-header i {
  font-size: 2.5rem;
}
.luca-header h3 {
  font-family: var(--font-primary);
  font-size: 2rem;
  padding-left: 1rem;
}
.luca-text {
  font-family: var(--font-primary);
  margin-top: 1rem;
  font-size: 1.3rem;
}
.luca-text p {
  line-height: 1.7rem;
}
.luca-img-wrapper img {
  object-fit: cover;
  width: 100%;
  border-radius: 50rem;
}

footer {
  width: 100%;
  height: 7rem;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer-content p {
  font-family: var(--font-primary);
  color: #a7a7a7;
  font-size: 1.2rem;
}

.social-list a {
  margin: 0 2rem;
  color: #a7a7a7;
  font-size: 1.3rem;
}

.social-list ul {
  display: flex;
}

#link-topo {
  position: fixed;
  right: 3rem;
  bottom: 3rem;
  width: 3rem;
  height: 3rem;
  background: #6a3093;
  background: -webkit-linear-gradient(to top, #a044ff, #6a3093);
  background: linear-gradient(to top, #a044ff, #6a3093);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 0.3rem;
  box-shadow: 0 0.1rem 0.6rem #00000009;
}

@media (max-width: 880px) {
  .container {
    overflow-x: hidden;
    text-align: center;
  }
  .banner {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }
  .sessao-conhecimentos {
    height: 2180px;
  }

  .conhecimento-img-wrapper {
    visibility: hidden;
  }

  .conhecimento-text {
    text-justify: auto;
  }

  .conhecimento:nth-child(1) /*HTML*/ {
    grid-column: 3 / 16;
    grid-row: 1 / 3;
  }

  .conhecimento:nth-child(2) /*CSS*/ {
    grid-column: 3 / 16;
    grid-row: 4 / 5;
  }
  .conhecimento:nth-child(3)/*Python*/ {
    grid-column: 3 / 16;
    grid-row: 7 / 10;
  }
  .conhecimento:nth-child(4)/*JavaScript*/ {
    grid-column: 3 / 16;
    grid-row: 10 / 13;
  }

  .conhecimento:nth-child(5)/*Boostrap*/ {
    grid-column: 3 / 16;
    grid-row: 13 / 16;
  }
  .conhecimento:nth-child(6)/*Git*/ {
    grid-column: 3 / 16;
    grid-row: 16/ 18;
  }
  .projetos {
    height: 1500px;
    display: flex;
    flex-direction: column;
  }
  .card {
    margin-left: auto;
    margin-right: auto;
  }
  .lucaS {
    height: 1600px;
  }
  .sessao-lucaS {
    height: 2000px;
  }

  .luca-img-wrapper {
    grid-column: 16 / 21;
    grid-row: 1 / 5;
    width: 100%;
  }

  .luca-text {
    text-justify: auto;
    font-size: small;
    line-height: normal;
  }

  .luca:nth-child(1) {
    grid-column: 3 / 16;
    grid-row: 1 / 3;
  }

  .luca:nth-child(2) {
    grid-column: 3 / 16;
    grid-row: 3 / 5;
  }
  .luca:nth-child(3) {
    grid-column: 3 / 16;
    grid-row: 6 / 10;
  }
  .luca:nth-child(4) {
    grid-column: 3 / 16;
    grid-row: 11 / 13;
  }

  .luca:nth-child(5) {
    grid-column: 3 / 16;
    grid-row: 14 / 16;
  }
  .luca:nth-child(6) {
    grid-column: 3 / 16;
    grid-row: 16/ 18;
  }
  #link-topo {
    right: 5.5rem;
    bottom: 0.8rem;
  }

  .footer-content {
    justify-content: space-evenly;
  }
  .footer-content p {
    font-size: smaller;
    text-size-adjust: calc();
  }
}

@media (max-width: 630px) {
  .lucaS {
    height: 2100px;
  }
  .luca-text p {
    line-height: 1.2rem;
  }
  .luca-text {
    margin-bottom: 4rem;
  }
  .luca-img-wrapper {
    visibility: hidden;
  }
  .luca:nth-child(1) {
    grid-column: 2 / 21;
    grid-row: 1 / 3;
  }

  .luca:nth-child(2) {
    grid-column: 2 / 21;
    grid-row: 3 / 5;
  }
  .luca:nth-child(3) {
    grid-column: 2 / 21;
    grid-row: 7 / 10;
  }
  .luca:nth-child(4) {
    grid-column: 2 / 21;
    grid-row: 17 / 18;
  }

  .luca:nth-child(5) {
    grid-column: 2 / 21;
    grid-row: 19 / 20;
  }
  .luca:nth-child(6) {
    grid-column: 2 / 21;
    grid-row: 21 / 22;
  }
}
.luca-header h3 {
  font-size: 1.4rem;
}
.sessao-conhecimentos{
  height: 3000px;
}
.conhecimentos {
  height: 700px;
}
.conhecimento {
  margin-bottom: 7rem;
}
.card-info  p {
margin-left: 1.5rem;  
margin-right: 1.5rem;
line-height: 1.5rem;
}

.projetos{
  height: 2000px;
}

.lucaS {
  height:fit-content;
}
@media (min-width: 632px){
  .lucaS {
    height: 2100px;
  }
  .luca-text p {
    line-height: 1.2rem;
  }
  .luca-text {
    margin-bottom: 4rem;
  }
  .luca-img-wrapper {
    visibility: hidden;
  }
  .luca:nth-child(1) {
    grid-column: 2 / 21;
    grid-row: 1 / 3;
  }

  .luca:nth-child(2) {
    grid-column: 2 / 21;
    grid-row: 3 / 5;
  }
  .luca:nth-child(3) {
    grid-column: 2 / 21;
    grid-row: 7 / 10;
  }
  .luca:nth-child(4) {
    grid-column: 2 / 21;
    grid-row: 17 / 18;
  }

  .luca:nth-child(5) {
    grid-column: 2 / 21;
    grid-row: 19 / 20;
  }
  .luca:nth-child(6) {
    grid-column: 2 / 21;
    grid-row: 21 / 22;
  }
}
.luca-header h3 {
  font-size: 1.4rem;
}
  
@media (min-width: 880px) {
  .container {
    overflow-x: hidden;
    text-align: center;
  }
  .banner {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
  }
  .sessao-conhecimentos {
    height: 1700px;
  }

  .conhecimentos {
    padding: 1rem;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(6, 6rem);
    row-gap: 0.5rem;
  }
  .conhecimento:nth-child(1) {
    grid-column: 2 / 9;
    grid-row: 1 / 3;
  }

  .conhecimento:nth-child(2) {
    grid-column: 2 / 9;
    grid-row: 3 / 4;
  }

  .conhecimento:nth-child(3) {
    grid-column: 2 / 9;
    grid-row: 5 / 7;
  }

  .conhecimento:nth-child(4) {
    grid-column: 11 / 16;
    grid-row: 1 / 4;
  }

  .conhecimento:nth-child(5) {
    grid-column: 11 / 16;
    grid-row: 3 / 6;
  }

  .conhecimento:nth-child(6) {
    grid-column: 11 / 16;
    grid-row: 5 / 10;
  }

  .sessao-conhecimentos {
    background-color: #f8f4e9;
    height: 100%;
  }

  .sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #534340;
    border-bottom: solid 3px #a89fa0;
    margin-bottom: 1.5rem;
  }
  .conhecimento-header {
    display: flex;
    align-items: center;
    color: #534340;
  }
  .conhecimento-header i {
    font-size: 2.5rem;
  }
  .conhecimento-header h3 {
    font-family: var(--font-primary);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .conhecimento-text {
    font-family: var(--font-secundary);
    margin-top: 1rem;
  }
  .conhecimento-img-wrapper {
    grid-column: 8 / 11;
    grid-row: 2 / 7;
    width: 100%;
  }
  .conhecimento-img-wrapper img {
    object-fit: cover;
    width: 100%;
    visibility: hidden;
  }

  .card {
    margin-left: auto;
    margin-right: auto;
  }
 .sessao-projetos{
  background-color: #d1c4c0;
 }
 .projetos{
  background-color: #d1c4c0;
  height:800px;
  margin: 2px 2px

 }
 .card-img-wrapper{
  height:600px;
  width:auto;
 }
 
 .card-info h2{
  font-size: large;
  text-align: center;
 }
  .lucaS {
    padding: 1rem;
    height:fit-content;
    display: grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 5rem);
    row-gap: 0.5rem;
  }
  .luca-text p {
    justify-content: center;
  }
  .luca:nth-child(1) /*contato*/ {
    grid-column: 2 / 10;
    grid-row: 5 / 6;
  }

  .luca:nth-child(2)/*habilidade*/ {
    grid-column: 12 / 20;
    grid-row: 16 / 17;
  }

  .luca:nth-child(3)/*perfil pessoal*/ {
    grid-column: 2 / 10;
    grid-row: 8 /11;
  }

  .luca:nth-child(4) /*experiencia*/ {
    grid-column: 12 / 20;
    grid-row: 1 / 3;
  }

  .luca:nth-child(5)/*historico*/ {
    grid-column: 12 / 20;
    grid-row: 8 / 11;
  }

  .luca:nth-child(6)/*educaçao*/ {
    grid-column: 12 / 20;
    grid-row: 15 / -10;
  }
  .luca-img-wrapper {
    width: 100%;
    margin-top: 5%;
    margin-left: 10%;
  }
  .sessao-luca {
    background-color: #f8f4e9;
    height: 100%;
  }

  .sessao-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .sessao-header h1 {
    font-family: var(--font-primary);
    font-size: 3rem;
    color: #534340;
    border-bottom: solid 3px #a89fa0;
    margin-bottom: 1.5rem;
  }
  .luca-header {
    display: flex;
    align-items: center;
    color: #534340;
  }
  .luca-header i {
    font-size: 2.5rem;
  }
  .luca-header h3 {
    font-family: var(--font-primary);
    font-size: 2rem;
    padding-left: 1rem;
  }
  .luca-text {
    font-family: var(--font-primary);
    margin-top: 1rem;
    font-size: 1.3rem;
    line-height: 1.3rem;
  }

  .luca-img-wrapper img {
    object-fit: cover;
    width: 100%;
    border-radius: 10rem;
  }

  #link-topo {
    right: 5.5rem;
    bottom: 0.8rem;
  }
  
  .footer-content {
    justify-content: space-evenly;
    height: 1px;
  }
  .footer-content p {
    font-size: smaller;
    text-size-adjust: calc();
  }
  
}
@media (min-width: 1350px) {
  .luca-img-wrapper {
    width: 80%;
    margin-top: 5%;
    margin-left: 10%;
  }
}
@media (min-width: 1800px) {
  .luca-img-wrapper {
    width: 50%;
  }
}
@media (min-width: 1950px) {
  .luca-img-wrapper {
    width: 60%;
    margin-top: 5%;
    margin-left: 10%;
  }
}
@media (min-width: 2250px) {
  .luca-img-wrapper {
    width: 50%;
    margin-top: 5%;
    margin-left: 10%;
  }
}
